
body {
      background-color: gray;
    }



    p.Green {

      color: green;

    }


    p.Blue {
      color: blue;

    }




    p.Red {

      color: red;
    }

    p.Centered {
      background-color: white;
      text-align: center;
      max-width: 235px;
      max-height: 90%;
    }



    p.Yellow {
      color: yellow
    }

    div.hidden{
      visibility: hidden;
    }




    #Purple {
      color: purple;
    }

    #Pink {
      color: pink;
    }
