
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Doc</title>



  <style media="screen">
    body {
      background-color: gray;
    }



    p.Green {

      color: green;

    }


    p.Blue {
      color: blue;
      font-size: 25px;
    }




    p.Red {

      color: red;
    }

    p.Centered {
      background-color: white;
      text-align: center;
      max-width: 235px;
      max-height: 90%;
    }



    p.Yellow {
      color: yellow
    }

    div.hidden{
      visibility: hidden;
    }




    #Purple {
      color: purple;
    }

    #Pink {
      color: pink;
    }

    .hidden {
      hid
    }
  </style>
</head>

<body>





  <article>
    <p class="Green">Green</p>
    <p class="Blue">Blue</p>
    <div>
      <p class="Red Centered">Red centered</p>
    </div>
    <p class="Yellow">Yellow</p>
    <p class="Green">Green</p>
    <div class="hidden">
      <p>Hidden</p>
    </div>
    <p class="Green">Green</p>
    <p Class="Green">Green</p>
    <p id="Purple">Purple</p>
    <p id="Pink">Pink</p>
    <hr>
  </article>
</body>

</html>
