<!--
Below is an example of HTML code (you cannot edit it!):
Your goal is to write a CSS code that will apply the following styles:
- page background color - gray
- paragraph's text color should correspond to the text (the first one is green, the second one is blue, the last one is pink, etc.)
- the "Red centered" paragraph - background is white, text color is red, the text is centered
- the "hidden" paragraph - should not be visible

The correct result should look like this: https://clickio.gyazo.com/97fa4884c612a1653b4b3245d102eb52

To complete the task:
- Write the code in the "CSS" field (on the right)
- Check the result by clicking on the "Run" button (above)
- Save the result by clicking the "save" button
- Copy the URL of your result (from the address bar) and attach it as an answer in the survey (use the "other" field)
-->



<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Doc</title>



  <style media="screen">
    body {
      background-color: gray;
    }



    p.Green {

      color: green;

    }


    p.Blue {
      color: blue;
      font-size: 25px;
    }




    p.Red {

      color: red;
    }

    p.Centered {
      background-color: white;
      text-align: center;
      max-width: 235px;
      max-height: 90%;
    }



    p.Yellow {
      color: yellow
    }

    div.hidden{
      visibility: hidden;
    }




    #Purple {
      color: purple;
    }

    #Pink {
      color: pink;
    }

    .hidden {
      hid
    }
  </style>
</head>

<body>





  <article>
    <p class="Green">Green</p>
    <p class="Blue">Blue</p>
    <div>
      <p class="Red Centered">Red centered</p>
    </div>
    <p class="Yellow">Yellow</p>
    <p class="Green">Green</p>
    <div class="hidden">
      <p>Hidden</p>
    </div>
    <p class="Green">Green</p>
    <p Class="Green">Green</p>
    <p id="Purple">Purple</p>
    <p id="Pink">Pink</p>
    <hr>
  </article>
</body>

</html>
